.new-accordion-buttons {
	margin-top: 20px;
}

.accordions-list tr:nth-child(2n+1) {
	background-color: #F9F9F9;
}

.accordion-slider-admin #titlediv {
	margin-right: 2%;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .editor-wrapper {
	float: left;
	width: 100%;
	margin-right: -370px;
}

.accordion-slider-admin .editor-body {
	margin-right: 370px;
}

.accordion-slider-admin .inner-sidebar {
	float: right;
	width: 350px;
}

.panels-container {
	overflow: hidden;
}

.panel {
	position: relative;
	float: left;
	width: 18%;
	margin: 1% 2% 1% 0;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.panel-placeholder {
	border: 1px dashed #333;
	background-color: #DDD;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.panel-preview {
	height: 170px;
	background: #E0E0E0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	background-image:
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    background-image:
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    -moz-background-size: 20px 20px;
    -webkit-background-size: 21px 21px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.panel-preview .no-image {
	line-height: 170px;
	margin: 0;
	width: 100%;
}

.panel-preview img {
	width: 100%;
}

.panel-buttons {
	height: 44px;
	background: #FFF;
	text-align: center;
	cursor: move;
}

.panel-buttons .button-secondary {
	margin: 10px 5px;
	border-color: #DDD;
}

.panel-controls {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.panel:hover .panel-controls {
	display: block;
}

.panel-controls a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	margin: 10px;
	text-indent: -9999px;
}

.delete-panel {

}

.duplicate-panel {

}

.toggle-visibility {

}

.add-panel-group {
	float: left;
	overflow: hidden;
	margin: 10px 0 120px;
}

.add-panel-group:hover .panel-type {
	display: block;
}

.add-panel-arrow {
	font-size: 10px;
	color: #999;
}

.panel-type {
	position: absolute;
	padding: 0 10px;
	background-color: #FCFCFC;
	margin: 0;
	background-image: linear-gradient(to bottom, #FEFEFE, #F4F4F4);
	border: 1px solid #BBB;
	display: none;
}

.panel-type li {
	margin: 0;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
}

.panel-type li:last-child {
	border-bottom: none;
}

.panel-type a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.action {
	background-color: #F5F5F5;
}

.action .inside {
	padding-bottom: 0;
}

.action .preview-accordion {
	margin-left: 6px;
}

.postbox.closed .hndle {
	border-bottom: none;
}

.postbox.closed .inside {
	display: none;
}

.sidebar-settings td {
	padding: 5px;
}

.sidebar-settings .setting {
	margin-left: 30px;
}

.sidebar-settings input,
.sidebar-settings select {
	font-size: 12px;
}

.sidebar-settings input[type=text] {
	width: 50px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	text-align: center;
}

.modal-window-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 32px;
	z-index: 1001;
	text-align: center;
}

.modal-window-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.modal-window {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 30px;
	background-color: #FFF;
	text-align: left;
}

.close-x {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
}

.close-x:before {
	content: '×';
}

.modal-window .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

.modal-window .buttons .close,
.modal-window .buttons .save  {
	float: right;
	margin-left: 10px;
}

@media (max-width: 560px) {
	.export-window:before,
	.import-window:before {
		display: none;
	}
}

.export-window textarea,
.import-window textarea {
	min-width: 500px;
	min-height: 300px;
}

.background-image-editor .modal-window {
	min-width: 660px;
}

@media (max-width: 720px) {
	.background-image-editor:before {
		display: none;
	}
}

.background-image-editor .fieldset {
	overflow: hidden;
	margin-bottom: 30px;
}

.background-image-editor .fieldset:last-child {
	margin-bottom: 0;
}

.clear-fieldset {
	float: right;
	font-size: 12px;
	margin-top: 6px;
	color: #F00;
	padding: 2px;
	cursor: pointer;
	display: none;
}

.clear-fieldset:hover {
	color: #FFF;
	background-color: #F00;
}

.background-image-editor .fieldset:hover .clear-fieldset {
	display: block;
}

.background-image-editor .image-loader {
	float: left;
	width: 170px;
	height: 120px;
	background-color: #EEE;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.background-image-editor .image-loader img {
	height: 100%;
}

.background-image-editor .image-loader .no-image {
	width: 100%;
	line-height: 120px;
	margin: 0;
}

.retina-loader {
	width: 17px;
	height: 17px;
	position: absolute;
	background-color: #CCC;
	margin-top: 5px;
	margin-left: -22px;
	cursor: pointer;
}

#background-retina-source,
#opened-background-retina-source {
	padding-right: 25px;
}

.background-image-editor table {
	margin-left: 190px;
}

.background-image-editor label {
	
}

.background-image-editor .field {
	margin-left: 10px;
	width: 363px;
	font-size: 12px;
}

.background-image-editor .link table {
	margin-left: 0;
}

.background-image-editor .link .field {
	width: 612px;
}

.html-editor .modal-window textarea {
	min-width: 600px;
	min-height: 300px;
	margin-bottom: 20px;
}

@media (max-width: 660px) {
	.html-editor:before {
		display: none;
	}
}

.layers-editor .modal-window {
	min-width: 625px;
}

@media (max-width: 625px) {
	.layers-editor:before {
		display: none;
	}
}

.add-layer-group {
	display: inline-block;
	position: relative;
}

.add-layer-group:hover .layer-type {
	display: block;
}

.layer-type {
	position: absolute;
	bottom: 28px;
	padding: 0 10px;
	background-color: #FCFCFC;
	margin: 0;
	background-image: linear-gradient(to bottom, #FEFEFE, #F4F4F4);
	border: 1px solid #BBB;
	display: none;
	z-index: 10;
}

.layer-type li {
	margin: 0;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
	white-space: nowrap;
}

.layer-type li:last-child {
	border-bottom: none;
}

.layer-type a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.layers-editor .controls {
	margin-top: 10px;
}

.layers-editor .controls .left {
	float: left;
}

.layers-editor .controls .right {
	margin: 4px 0 0 150px;
	position: relative;
}

.layers-editor .layers-list {
	width: 130px;
	max-height: 138px;
	overflow: auto;
	margin: 6px 0 0;
}

.layers-editor .layers-list-item {
	position: relative;
	border: 1px solid #CCC;
	background-color: #F4F4F4;
	padding: 7px;
	margin: 0 0 7px 0;
	cursor: move;
	line-height: 1;
}

.layers-editor .selected-layers-list-item {
	border-color: #000;
}

.layers-editor .layers-list-item:first-child {
	margin-top: 0;
}

.layers-editor .layers-list-item:last-child {
	margin-bottom: 0;
}

.layers-editor .layers-list-item input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: 100%;
	margin: 0;
}

.layers-list-item-placeholder {
	border: 1px dashed #999;
	background-color: #FEFEFE;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.layers-editor input[type="text"] {
	width: 70px;
}

.layers-editor .layer-settings {
    display: none;
    margin-bottom: 0;
    height: 168px;
}

.layers-editor .selected-layer-settings {
    display: block;
}

.layers-editor .layer-settings > ul > li {
    float: left;
}

.layers-editor .tab {
    display: none;
}

.layers-editor .tab-label {
	display: block;
	padding: 8px 10px;
    font-size: 14px;
    color: #0074a2;
}

.layers-editor .tab:checked ~ .tab-label,
.layers-editor .tab-label:hover {
    background-color: #F4F4F4;
}

.layers-editor .setting-fields {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
	height: 138px;
    background-color: #F4F4F4;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.layers-editor .setting-fields td {
    padding: 0 20px 10px 0;
}

.layers-editor .setting-fields td:last-child {
    padding-right: 0;
}

.layers-editor .setting-fields tr:last-child td {
    padding-bottom: 0;
}

.layers-editor .tab:checked ~ .setting-fields {
    display: block;
}

.layers-editor .tab:checked ~ .setting-fields {
    display: block;
}

.layers-editor .setting-fields label {
    display: block;
    margin-bottom: 5px;
}

.layers-editor .setting-fields .multi-check label {
	display: inline;
}

.layers-editor .setting-fields table {
    border-spacing: 0;
}

.layers-editor .setting-fields textarea {
	margin: 0;
	width: 100%;
	height: 100%
}

.layers-editor .content-fields table {
    width: 100%;
}

.layers-editor .content-fields input {
    width: 100%
}

.layers-editor .content-fields .heading-type-label {
    display: inline;
}

.layers-editor .content-fields .heading-text {
    height: 78px;
}

.layers-editor .content-fields .video-text {
    height: 95px;
}

.layers-editor .layer-image-input {
	position: relative;
}

.layers-editor .layer-image-input input {
	padding-right: 25px;
}

.layers-editor .layer-image-loader {
	width: 17px;
	height: 17px;
	position: absolute;
	background-color: #CCC;
	bottom: 6px;
	right: 4px;
	cursor: pointer;
}

.layers-editor .viewport {
	position: relative;
	width: 100%;
	background-image:
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    background-image:
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    -moz-background-size: 20px 20px;
    -webkit-background-size: 21px 21px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.layers-editor .viewport-image {
	position: relative;
	height: 100%;
}

.layers-editor .viewport-layers {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.layers-editor .viewport-layer {
	position: absolute;
	cursor: move;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.layers-editor .viewport-layer .as-layer {
	position: relative;
}

.settings-editor .modal-window {
	min-width: 316px;
}

@media (max-width: 376px) {
	.settings-editor:before {
		display: none;
	}
}

.settings-editor .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

.settings-editor table {
	border: none;
	border-spacing: 0;
	width: 100%;
}

.settings-editor th,
.settings-editor td {
	padding-bottom: 10px;
}

.settings-editor th {
	font-size: 14px;
}

.settings-editor th.label-cell {
	text-align: left;
}

.settings-editor .setting-cell {
	text-align: right;
}

.settings-editor select,
.settings-editor input[type=text] {
	width: 215px;
	margin: 0;
}

.settings-editor input[type=checkbox] {
	margin-right: 199px;
}

.settings-editor .buttons {
	margin-top: 10px;
}

.settings-editor .multi-check {
    display: inline-block;
}

.breakpoints-box .inside {
	margin: 0;
	padding: 0;
}

.breakpoints-box .add-breakpoint {
	display: block;
	margin: 10px;
	text-align: center;
}

.breakpoint {
	background-color: #FFF;
}

.breakpoint-header {
	width: 100%;
	padding: 5px 10px;
	background-color: #F7F7F7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: move;
}

.add-setting-group {
	padding: 10px 10px 30px;
}

.breakpoints-box table {
	margin-left: 5px;
}

.remove-breakpoint,
.remove-breakpoint-setting {
	display: none;
	position: absolute;
	right: 10px;
	font-size: 15px;
	margin-top: 3px;
	cursor: pointer;
}

.breakpoint-header:hover .remove-breakpoint,
.breakpoint-settings tr:hover .remove-breakpoint-setting {
	display: inline;
}

.remove-breakpoint:before,
.remove-breakpoint-setting:before {
	content: '×';
}

.breakpoint-settings td {
	white-space: nowrap;
}

.breakpoint-settings .setting-cell {
	width: 99%
}

.delete-accordion-dialog,
.delete-panel-dialog {
	
}

.dialog-question {
	font-weight: bold;
	font-size: 14px;
}

.dialog-buttons {
	text-align: right;
}

.info-tooltip {
	position: absolute;
	padding: 10px;
	background-color: #d9edf7;
	color: #333;
	border: 1px solid #5bc0de;
	border-right-width: 4px;
	left: -100%;
	max-width: 100%;
	z-index: 100;
}

.info-tooltip:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #5bc0de;
	top: 50%;
	right: -14px;
	margin-top: -5px;
}

.multi-check {
	position: relative;
    text-align: left;
}

.multi-check-header {
	width: 100%;
	padding: 5px;
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
}

.multi-check-header-arrow {
	position: absolute;
	top: 50%;
	right: 5px;
	color: #333;
	font-size: 11px;
	margin-top: -7px;
}

.multi-check-content {
	overflow: auto;
	position: absolute;
	width: 100%;
	min-height: 50px;
	max-height: 150px;
	margin: 0;
	padding: 0 5px;
	border: 1px solid #999;
	background-color: #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
}

.multi-check input {
	margin: 0 !important;
}

.multi-check label {
	margin-left: 5px;
}

.multi-check .group-label {
	text-align: center;
	padding: 5px 0;
	border-bottom: 1px solid #DDD;
}

.multi-check .single-check-container {
	padding: 5px;
}

@media (max-width: 1700px) {
	.panel {
		width: 23%;
	}
}

@media (max-width: 1500px) {
	.panel {
		width: 31%;
	}
}

@media (max-width: 1250px) {
	.panel {
		width: 48%;
	}
}

@media (max-width: 1020px) {
	.panel {
		width: 98%;
	}
}

@media (max-width: 650px) {
	.accordion-slider-admin .editor-wrapper {
		float: none;
		margin-right: 0;
	}

	.accordion-slider-admin .editor-body {
		margin-right: 0;
	}

	.accordion-slider-admin .inner-sidebar {
		float: none;
		width: 100%;
	}

	.add-panel-group {
		float: none;
	}
}

.button-primary.custom-css-js-update {
	display: block;
	margin-left: 3px;
	margin-bottom: 40px;
}

.custom-css,
.custom-js {
	margin-bottom: 20px;
}

.plugin-settings table {
	max-width: 960px;
}

.plugin-settings table td {
	vertical-align: top;
	padding: 10px 30px 10px 0;
}

.plugin-settings table tr td:first-child {
	white-space: nowrap;
}

.plugin-settings label {
	font-size: 14px;
	font-weight: bold;
}

.plugin-settings .button-primary {
	margin-top: 30px;
}

.as-clearfix {
    display: inline-block;
}

.as-clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.as-clearfix {
    display: block;
}