.new-accordion-buttons {
	margin-top: 20px;
}

.accordion-list tr:nth-child(2n+1) {
	background-color: #F9F9F9;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .editor-wrapper {
	float: left;
	width: 100%;
	margin-right: -390px;
}

.accordion-slider-admin .editor-body {
	margin-right: 390px;
}

.accordion-slider-admin .inner-sidebar {
	float: right;
	width: 350px;
}

.panels-container {
	overflow: hidden;
}

.panel {
	position: relative;
	float: left;
	width: 32%;
	margin: 1% 2% 1% 0;
}

.panel:nth-child(3n) {
	margin-right: 0;
}

.panel-image {
	height: 170px;
	background: #E0E0E0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.panel-image .no-image {
	line-height: 170px;
	margin: 0;
	width: 100%;
}

.panel-image img {
	width: 100%;
}

.panel-buttons {
	height: 44px;
	background: #F5F5F5;
	text-align: center;
}

.panel-buttons .button-secondary {
	margin: 10px 5px;
	border-color: #DDD;
}

.panel-controls {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.panel:hover .panel-controls {
	display: block;
}

.panel-controls a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	margin: 10px;
	text-indent: -9999px;
}

.delete-panel {

}

.duplicate-panel {

}

.toggle-visibility {

}

.add-panel-group {
	float: left;
	overflow: hidden;
	margin: 10px 0 100px;
}

.add-panel-group:hover .panel-type {
	display: block;
}

.add-panel-arrow {
	font-size: 10px;
	color: #999;
}

.panel-type {
	position: absolute;
	padding: 0 10px;
	background-color: #FCFCFC;
	margin: 0;
	background-image: linear-gradient(to bottom, #FEFEFE, #F4F4F4);
	border: 1px solid #BBB;
	display: none;
}

.panel-type li {
	margin: 0;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
}

.panel-type li:last-child {
	border-bottom: none;
}

.panel-type a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.action {
	background-color: #F5F5F5;
}

.action .inside {
	padding-bottom: 0;
}

.action .preview-accordion {
	margin-left: 6px;
}

.sidebar-settings td {
	padding: 5px;
}

.sidebar-settings .setting {
	margin-left: 30px;
}

.sidebar-settings input,
.sidebar-settings select {
	font-size: 12px;
}

.sidebar-settings input[type=text] {
	width: 50px;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 1000;
}

.background-image-editor {
	position: fixed;
	width: 660px;
	height: 560px;
	padding: 30px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.background-image-editor .close-x {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
}

.background-image-editor .close-x:before {
	content: '×';
}

.background-image-editor .fieldset {
	overflow: hidden;
	margin-bottom: 30px;
}

.background-image-editor .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

.clear-fieldset {
	float: right;
	font-size: 12px;
	margin-top: 6px;
	color: #F00;
	padding: 2px;
	cursor: pointer;
	display: none;
}

.clear-fieldset:hover {
	color: #FFF;
	background-color: #F00;
}

.background-image-editor .fieldset:hover .clear-fieldset {
	display: block;
}

.background-image-editor .image-loader {
	float: left;
	width: 170px;
	height: 120px;
	background-color: #EEE;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.background-image-editor .image-loader img {
	height: 100%;
}

.background-image-editor .image-loader .no-image {
	width: 100%;
	line-height: 120px;
	margin: 0;
}

.background-image-editor .data-fields {
	margin-left: 190px;
}

.background-image-editor .data-fields label {
	
}

.background-image-editor .data-fields .field {
	margin-left: 10px;
	width: 363px;
	font-size: 12px;
}

.background-image-editor .link .data-fields {
	margin-left: 0;
}

.background-image-editor .link .data-fields .field {
	width: 612px;
}

.background-image-editor .add-opened-background-image,
.background-image-editor .add-link  {
	margin-right: 10px;
}

.background-image-editor .buttons .close,
.background-image-editor .buttons .save  {
	float: right;
	margin-left: 10px;
}

.breakpoints-box .inside {
	margin: 0;
	padding: 0;
}

.breakpoints-box .add-breakpoint {
	display: block;
	margin: 10px;
	text-align: center;
}

.breakpoint-header {
	width: 100%;
	padding: 5px 10px;
	background-color: #F7F7F7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.add-setting-group {
	margin: 10px 10px 30px;
}

.breakpoints-box table {
	margin-left: 5px;
}

.remove-breakpoint,
.remove-breakpoint-setting {
	display: none;
	position: absolute;
	right: 10px;
	font-size: 15px;
	margin-top: 3px;
	cursor: pointer;
}

.breakpoint-header:hover .remove-breakpoint,
.breakpoint-settings tr:hover .remove-breakpoint-setting {
	display: inline;
}

.remove-breakpoint:before,
.remove-breakpoint-setting:before {
	content: '×';
}

.breakpoint-settings td {
	white-space: nowrap;
}

.breakpoint-settings .setting-cell {
	width: 99%
}

.delete-dialog {
	position: fixed;
	width: 330px;
	height: 90px;
	background-color: #FFF;
	padding: 10px 20px;
	z-index: 1001;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.dialog-question {
	font-weight: bold;
	font-size: 14px;
}

.dialog-buttons {
	text-align: right;
}