.new-accordion-buttons {
	margin-top: 20px;
}

.accordions-list tr:nth-child(2n+1) {
	background-color: #F9F9F9;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .metabox-holder {
	overflow: hidden;
}

.accordion-slider-admin .editor-wrapper {
	float: left;
	width: 100%;
	margin-right: -390px;
}

.accordion-slider-admin .editor-body {
	margin-right: 390px;
}

.accordion-slider-admin .inner-sidebar {
	float: right;
	width: 350px;
}

.panels-container {
	overflow: hidden;
}

.panel {
	position: relative;
	float: left;
	width: 32%;
	margin: 1% 2% 1% 0;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.panel:nth-child(3n) {
	margin-right: 0;
}

.panel-placeholder {
	border: 1px dashed #333;
	background-color: #DDD;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.panel-image {
	height: 170px;
	background: #E0E0E0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	background-image:
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    background-image:
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    -moz-background-size: 20px 20px;
    -webkit-background-size: 21px 21px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.panel-image .no-image {
	line-height: 170px;
	margin: 0;
	width: 100%;
}

.panel-image img {
	width: 100%;
}

.panel-buttons {
	height: 44px;
	background: #FFF;
	text-align: center;
	cursor: move;
}

.panel-buttons .button-secondary {
	margin: 10px 5px;
	border-color: #DDD;
}

.panel-controls {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.panel:hover .panel-controls {
	display: block;
}

.panel-controls a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	margin: 10px;
	text-indent: -9999px;
}

.delete-panel {

}

.duplicate-panel {

}

.toggle-visibility {

}

.add-panel-group {
	float: left;
	overflow: hidden;
	margin: 10px 0 100px;
}

.add-panel-group:hover .panel-type {
	display: block;
}

.add-panel-arrow {
	font-size: 10px;
	color: #999;
}

.panel-type {
	position: absolute;
	padding: 0 10px;
	background-color: #FCFCFC;
	margin: 0;
	background-image: linear-gradient(to bottom, #FEFEFE, #F4F4F4);
	border: 1px solid #BBB;
	display: none;
}

.panel-type li {
	margin: 0;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
}

.panel-type li:last-child {
	border-bottom: none;
}

.panel-type a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.action {
	background-color: #F5F5F5;
}

.action .inside {
	padding-bottom: 0;
}

.action .preview-accordion {
	margin-left: 6px;
}

.sidebar-settings td {
	padding: 5px;
}

.sidebar-settings .setting {
	margin-left: 30px;
}

.sidebar-settings input,
.sidebar-settings select {
	font-size: 12px;
}

.sidebar-settings input[type=text] {
	width: 50px;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 1000;
}

.close-x {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
}

.close-x:before {
	content: '×';
}

.preview-window {
	position: fixed;
	width: 800px;
	height: 400px;
	padding: 20px 50px 100px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.preview-title {
	font-size: 20px;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.background-image-editor {
	width: 660px;
	height: 560px;
	position: fixed;
	padding: 30px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.background-image-editor .fieldset {
	overflow: hidden;
	margin-bottom: 30px;
}

.background-image-editor .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

.clear-fieldset {
	float: right;
	font-size: 12px;
	margin-top: 6px;
	color: #F00;
	padding: 2px;
	cursor: pointer;
	display: none;
}

.clear-fieldset:hover {
	color: #FFF;
	background-color: #F00;
}

.background-image-editor .fieldset:hover .clear-fieldset {
	display: block;
}

.background-image-editor .image-loader {
	float: left;
	width: 170px;
	height: 120px;
	background-color: #EEE;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.background-image-editor .image-loader img {
	height: 100%;
}

.background-image-editor .image-loader .no-image {
	width: 100%;
	line-height: 120px;
	margin: 0;
}

.background-image-editor .data-fields {
	margin-left: 190px;
}

.background-image-editor .data-fields label {
	
}

.background-image-editor .data-fields .field {
	margin-left: 10px;
	width: 363px;
	font-size: 12px;
}

.background-image-editor .link .data-fields {
	margin-left: 0;
}

.background-image-editor .link .data-fields .field {
	width: 612px;
}

.background-image-editor .add-opened-background-image,
.background-image-editor .add-link  {
	margin-right: 10px;
}

.background-image-editor .buttons .close,
.background-image-editor .buttons .save,
.layers-editor .buttons .close,
.layers-editor .buttons .save,
.settings-editor .buttons .close,
.settings-editor .buttons .save  {
	float: right;
	margin-left: 10px;
}

.layers-editor {
	width: 960px;
	height: 580px;
	position: fixed;
	padding: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.layers-editor .viewport {
	width: 100%;
	height: 400px;
	border-bottom: 1px solid #DDD;
	background-image:
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -moz-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    background-image:
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%),
	    -webkit-linear-gradient(45deg, #EEE 25%, transparent 25%,transparent 75%, #EEE 75%, #EEE 100%);
    -moz-background-size: 20px 20px;
    -webkit-background-size: 21px 21px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.layers-editor .as-layer {
	position: absolute;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}

.layers-editor .as-layer.as-black {
	color: #FFF;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}

.layers-editor .as-layer.as-white {
	color: #000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
}

.layers-editor .as-layer.as-rounded {
	border-radius: 10px;
}

.layers-editor .as-layer.as-padding {
	padding: 10px;
}

.layers-editor .controls {
	padding: 10px;
	overflow: hidden;
}

.layers-editor .controls .left {
	float: left;
}

.layers-editor .controls .right {
	margin: 4px 0 0 150px;
	position: relative;
}

.layers-editor .buttons {
	padding: 0 10px 10px;
}

.layers-editor .layers-list {
	width: 130px;
	height: 121px;
	overflow: auto;
	margin: 0;
}

.layers-editor .layers-list-item {
	position: relative;
	background-color: #EEE;
	padding: 4px 5px;
	margin: 5px 0;
	cursor: move;
}

.layers-editor .selected-layers-list-item {
	border: 1px solid #999;
}

.layers-editor .layers-list-item:first-child {
	margin-top: 0;
}

.layers-editor .layers-list-item:last-child {
	margin-bottom: 0;
}

.layers-editor .layers-list-item input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: 100%;
	margin: 0;
}

.layers-list-item-placeholder {
	border: 1px dashed #999;
	background-color: #FEFEFE;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.layers-editor .field {
	margin: 0 18px 0 8px;
}

.layers-editor input[type="text"] {
	width: 70px;
}

.layers-editor .layer-settings {
    display: none;
}

.layers-editor .selected-layer-settings {
    display: block;
}

.layers-editor .layer-settings > ul > li {
    float: left;
}

.layers-editor .tab {
    display: none;
}

.layers-editor .tab-label {
    font-size: 14px;
    margin-right: 20px;
    color: #0074a2;
}

.layers-editor .tab:checked ~ .tab-label,
.layers-editor .tab-label:hover {
    text-decoration: underline;
}

.layers-editor .setting-fields {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
}

.layers-editor .tab:checked ~ .setting-fields {
    display: block;
}

.layers-editor .tab:checked ~ .setting-fields {
    display: block;
}

.layers-editor .content {
	width: 790px;
	height: 80px;
	margin: 0;
}

.layers-editor .viewport-image {
	position: absolute;
}

.layers-editor .viewport-layers {
	position: absolute;
}

.layers-editor .viewport-layer {
	cursor: move;
}

.settings-editor {
	width: 330px;
	height: 120px;
	position: fixed;
	padding: 30px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.settings-editor.posts {
	height: 435px;
}

.settings-editor.gallery {
	height: 260px;
}

.settings-editor.flickr {
	height: 268px;
}

.settings-editor .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

.settings-editor table {
	border: none;
	border-spacing: 0;
	width: 100%;
}

.settings-editor th,
.settings-editor td {
	padding-bottom: 10px;
}

.settings-editor th {
	font-size: 14px;
}

.settings-editor th.label-cell {
	text-align: left;
}

.settings-editor .setting-cell {
	text-align: right;
}

.settings-editor select,
.settings-editor input[type=text] {
	width: 215px;
	margin: 0;
}

.settings-editor input[type=checkbox] {
	margin-right: 199px;
}

.settings-editor .buttons {
	margin-top: 10px;
}

.settings-editor .multi-check {
    display: inline-block;
}

.breakpoints-box .inside {
	margin: 0;
	padding: 0;
}

.breakpoints-box .add-breakpoint {
	display: block;
	margin: 10px;
	text-align: center;
}

.breakpoint {
	background-color: #FFF;
}

.breakpoint-header {
	width: 100%;
	padding: 5px 10px;
	background-color: #F7F7F7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: move;
}

.add-setting-group {
	padding: 10px 10px 30px;
}

.breakpoints-box table {
	margin-left: 5px;
}

.remove-breakpoint,
.remove-breakpoint-setting {
	display: none;
	position: absolute;
	right: 10px;
	font-size: 15px;
	margin-top: 3px;
	cursor: pointer;
}

.breakpoint-header:hover .remove-breakpoint,
.breakpoint-settings tr:hover .remove-breakpoint-setting {
	display: inline;
}

.remove-breakpoint:before,
.remove-breakpoint-setting:before {
	content: '×';
}

.breakpoint-settings td {
	white-space: nowrap;
}

.breakpoint-settings .setting-cell {
	width: 99%
}

.delete-accordion-dialog,
.delete-panel-dialog {
	position: fixed;
	height: 90px;
	background-color: #FFF;
	padding: 10px 20px;
	z-index: 1001;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.delete-accordion-dialog {
	width: 330px;
}

.delete-panel-dialog {
	width: 300px;
}

.dialog-question {
	font-weight: bold;
	font-size: 14px;
}

.dialog-buttons {
	text-align: right;
}

.multi-check {
	position: relative;
    text-align: left;
}

.multi-check-header {
	width: 100%;
	padding: 5px;
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
}

.multi-check-header-arrow {
	position: absolute;
	top: 50%;
	right: 5px;
	color: #333;
	font-size: 11px;
	margin-top: -7px;
}

.multi-check-content {
	overflow: auto;
	position: absolute;
	width: 100%;
	min-height: 50px;
	max-height: 150px;
	margin: 0;
	padding: 0 5px;
	border: 1px solid #999;
	background-color: #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
}

.multi-check input {
	margin: 0 !important;
}

.multi-check label {
	margin-left: 5px;
}

.multi-check .group-label {
	text-align: center;
	padding: 5px 0;
	border-bottom: 1px solid #DDD;
}

.multi-check .single-check-container {
	padding: 5px;
}