.accordion-slider-admin .editor-wrapper {
	float: left;
	width: 100%;
	margin-right: -390px;
}

.accordion-slider-admin .editor-body {
	margin-right: 390px;
}

.accordion-slider-admin .inner-sidebar {
	float: right;
	width: 350px;
}

.panels-container {
	overflow: hidden;
}

.panel {
	float: left;
	width: 32%;
	margin: 1% 2% 1% 0;
}

.panel:nth-child(3n) {
	margin-right: 0;
}

.panel-image {
	height: 170px;
	background: #EEE;
	overflow: hidden;
}

.panel-image img {
	width: 100%;
}

.panel-buttons {
	height: 44px;
	background: #F9F9F9;
	text-align: center;
}

.panel-buttons .button-secondary {
	margin: 10px 5px;
	border-color: #DDD;
}

.panel-controls {

}

.add-panel-group {
	float: left;
}

.add-panel-group:hover .panel-type {
	display: block;
}

.add-panel-arrow {
	font-size: 10px;
	color: #999;
}

.panel-type {
	position: absolute;
	padding: 0 10px;
	background-color: #FCFCFC;
	margin: 0;
	background-image: linear-gradient(to bottom, #FEFEFE, #F4F4F4);
	border: 1px solid #BBB;
	display: none;
}

.panel-type li {
	margin: 0;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
}

.panel-type li:last-child {
	border-bottom: none;
}

.panel-type a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.action .preview-accordion {
	margin-left: 6px;
}

.sidebar-settings td {
	padding: 5px;
}

.sidebar-settings .setting {
	margin-left: 30px;
}

.sidebar-settings input[type=text] {
	width: 50px;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 1000;
}

.background-image-editor {
	position: absolute;
	width: 650px;
	height: 520px;
	padding: 30px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1001;
}

.background-image-editor .close-x {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
}

.background-image-editor .close-x:before {
	content: '×';
}

.background-image-editor .fieldset {
	overflow: hidden;
	margin-bottom: 30px;
}

.background-image-editor .heading {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

.clear-fieldset {
	float: right;
	font-size: 12px;
	margin-top: 10px;
	color: #F00;
	padding: 2px;
	cursor: pointer;
	display: none;
}

.clear-fieldset:hover {
	color: #FFF;
	background-color: #F00;
}

.background-image-editor .fieldset:hover .clear-fieldset {
	display: block;
}

.background-image-editor .image-loader {
	float: left;
	width: 170px;
	height: 110px;
	background-color: #EEE;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.background-image-editor .image-loader img {
	width: 100%;
}

.background-image-editor .image-loader .no-image {
	width: 100%;
	line-height: 110px;
	margin: 0;
}

.background-image-editor .data-fields {
	margin-left: 190px;
}

.background-image-editor .data-fields label {
	
}

.background-image-editor .data-fields .field {
	background-color: #FCFCFC;
	border: none;
	border-bottom: 1px dashed #DDDDDD;
	margin-left: 10px;
	width: 358px;
}

.background-image-editor .link .data-fields {
	margin-left: 0;
}

.background-image-editor .link .data-fields .field {
	width: 605px;
}

.background-image-editor .add-opened-background-image,
.background-image-editor .add-link  {
	margin-right: 10px;
}

.background-image-editor .buttons .close,
.background-image-editor .buttons .save  {
	float: right;
	margin-left: 10px;
}